<li class="list-group-item">
  <div class="row align-items-center">
    <div class="col-auto">

      <!-- Avatar -->
      <a href="{% url 'crm:candidat_details' candidat.id %}" class="avatar avatar-md">
        <div class="avatar avatar-md">
          <span class="avatar-title rounded-circle">CF</span>
        </div>
      </a>

    </div>
    <div class="col ml-n2">

      <!-- Title -->
      <h4 class="mb-1 name">
        <a href="{% url 'crm:candidat_details' candidat.id %}">{{ candidat.fullname }}</a>
      </h4>

      <!-- Text -->
      <p class="card-text small text-muted mb-1">
        CTO отдела разработки внутренней HR-системы
      </p>

      <!-- Time -->
      <p class="card-text small text-muted">
        {{ candidat.city }}
      </p>

    </div>
  </div> <!-- / .row -->
</li>