{% extends "base.html" %} {% load static %}
{% block main %}

<div class="alert alert-success" role="alert">
  Подсказка для ревьюера, модераторов и участников хакатона. Мы подготовиди видео на 5 минут с кратким раскрытием функционала нашего решения 🎉
  <br><a href="https://youtu.be/iPSi9nuxA64">Видео доступно по ссылке.</a>
</div>

    

    <!-- MAIN CONTENT
    ================================================== -->
  
 <div class="main-content">

  <div class="main-content mb-5">

      

      <!-- HEADER -->
      <div class="header">
        <div class="container-fluid">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Газпромбанк
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  Дашборд
                </h1>

              </div>
            </div> <!-- / .row -->
          </div>

        </div>
      </div>

    </div> <!-- / .main-content -->

      <!-- CARDS -->
      <div class="container-fluid">      
        <div class="row">
          <div class="col-12 col-xl-8">

            <!-- Convertions -->
            <div class="card">
              <div class="card-header">

                <!-- Title -->
                <h4 class="card-header-title">
                  Новые резюме
                </h4>

                <!-- Caption -->
                <span class="text-muted mr-3">
                  За прошлый месяц
                </span>

                <!-- Switch -->
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="cardToggle" data-toggle="chart" data-target="#conversionsChart" data-trigger="change" data-action="add" data-dataset="1" />
                  <label class="custom-control-label" for="cardToggle"></label>
                </div>

              </div>
              <div class="card-body">

                <!-- Chart -->
                <div class="chart">
                  <canvas id="conversionsChart" class="chart-canvas"></canvas>

                   <script>
                  $(document).ready(function() {

                  new Chart('conversionsChart', {
                        type: 'line',
                        options: {
                              tooltips: {
                                    callbacks: {
                                          afterLabel: function() {
                                                return '%'
                                          }
                                    }
                              },
                              legend: {
                                display: true
                              },
                             
                        },
                        data: {
                              
                              labels: ["20.11", "21.11", "22.11", "23.11", "24.11", "25.11", "26.11", "27.11", "28.11", "29.11", "30.11"],
                              datasets: [{
                              label: 'Кол-во обработанных резюме',
                              backgroundColor: "#39afd1",
                              data: [10, 8, 12, 14, 15, 20, 16, 17, 110, 120, 130]
                              },{
                              label: 'Кол-во новых резюме',
                              backgroundColor: "#95aac9",
                              data: [90, 93, 84, 100, 110, 108, 120, 130, 136, 150, 155]
                              }]
                        }
                  });
                  })
            </script>
                </div>

              </div>
            </div>
          </div>
          <div class="col-12 col-xl-4">

            <!-- Traffic -->
            <div class="card">
              <div class="card-header">

                <!-- Title -->
                <h4 class="card-header-title">
                  Этапы откликов
                </h4>

              </div>
              <div class="card-body">

                <!-- Chart -->
                <div class="chart chart-appended">
                  <canvas id="StagesApplications" class="chart-canvas" data-toggle="legend" data-target="#StagesApplicationsLegend"></canvas>
                </div>

                <script>
                  $(document).ready(function() {

                  new Chart('StagesApplications', {
                        type: 'doughnut',
                        options: {
                              tooltips: {
                                    callbacks: {
                                          afterLabel: function() {
                                                return '%'
                                          }
                                    }
                              }
                             
                        },
                        data: {
                              
                              labels: ["Новые", "Собеседование", "C/Б", "Оффер"],
                              datasets: [{
                              data: {{data.StagesApplications}}
                              }]
                        }
                  });
                  })
            </script>

              </div>
            </div>
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">

            <!-- Goals -->
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="card-header-title">
                      Новые кандидаты
                    </h4>

                  </div>
                  
                </div> <!-- / .row -->
              </div>
              <div class="table-responsive mb-0" data-list="{&quot;valueNames&quot;: [&quot;goal-project&quot;, &quot;goal-status&quot;, &quot;goal-progress&quot;, &quot;goal-date&quot;]}">
                <table class="table table-sm table-nowrap card-table">
                  <thead>
                    <tr>
                      <th>
                        <a href="#" class="text-muted list-sort" data-sort="goal-project">
                          Вакансия
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted list-sort" data-sort="goal-status">
                          Статус
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted list-sort" data-sort="goal-progress">
                          Оценка
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted list-sort" data-sort="goal-date">
                          Дата добавления
                        </a>
                      </th>
                      <th class="text-right1">
                        Имя
                      </th>
                      <th class="text-right2">
                        <a href="#" class="text-muted list-sort" data-sort="goal-date">
                          Город
                        </a>
                      </th>
                      <th class="text-right3">
                        Телефон
                      </th>
                      <th class="text-right4">
                        Почта
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td class="goal-project">
                        CEO
                      </td>
                      <td class="goal-status">
                        Входящие
                      </td>
                      <td class="goal-progress">
                        55%
                      </td>
                      <td class="goal-date">
                        <time datetime="2018-10-24">07/24/18</time>
                      </td>
                      <td class="text-right1">
                        Иванов Иван
                      </td>
                      <td class="text-right2">                         
                          Москва                      
                      </td>
                      <td class="text-right3">
                        8797946543
                      </td>
                      <td class="text-right4">
                        mail@gmail.com
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Подробнее
                            </a>
                            
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="goal-project">
                        CEO
                      </td>
                      <td class="goal-status">
                        Входящие
                      </td>
                      <td class="goal-progress">
                        55%
                      </td>
                      <td class="goal-date">
                        <time datetime="2018-10-24">07/24/18</time>
                      </td>
                      <td class="text-right1">
                        Иванов Иван
                      </td>
                      <td class="text-right2">                         
                          Москва                      
                      </td>
                      <td class="text-right3">
                        8797946543
                      </td>
                      <td class="text-right4">
                        mail@gmail.com
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Подробнее
                            </a>
                            
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="goal-project">
                        CEO
                      </td>
                      <td class="goal-status">
                        Входящие
                      </td>
                      <td class="goal-progress">
                        55%
                      </td>
                      <td class="goal-date">
                        <time datetime="2018-10-24">07/24/18</time>
                      </td>
                      <td class="text-right1">
                        Иванов Иван
                      </td>
                      <td class="text-right2">                         
                          Москва                      
                      </td>
                      <td class="text-right3">
                        8797946543
                      </td>
                      <td class="text-right4">
                        mail@gmail.com
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Подробнее
                            </a>
                            
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="goal-project">
                        CEO
                      </td>
                      <td class="goal-status">
                        Входящие
                      </td>
                      <td class="goal-progress">
                        55%
                      </td>
                      <td class="goal-date">
                        <time datetime="2018-10-24">07/24/18</time>
                      </td>
                      <td class="text-right1">
                        Иванов Иван
                      </td>
                      <td class="text-right2">                         
                          Москва                      
                      </td>
                      <td class="text-right3">
                        8797946543
                      </td>
                      <td class="text-right4">
                        mail@gmail.com
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Подробнее
                            </a>
                            
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    
                    
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
        
      </div>

    </div><!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/libs/@shopify/draggable/lib/es5/draggable.bundle.legacy.js"></script>
    <script src="./assets/libs/autosize/dist/autosize.min.js"></script>
    <script src="./assets/libs/chart.js/dist/Chart.min.js"></script>
    <script src="./assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="./assets/libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="./assets/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="./assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="./assets/libs/list.js/dist/list.min.js"></script>
    <script src="./assets/libs/quill/dist/quill.min.js"></script>
    <script src="./assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="./assets/libs/chart.js/Chart.extension.js"></script>

    <!-- Map -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="./assets/js/theme.min.js"></script>
    <script src="./assets/js/dashkit.min.js"></script>


  </body>
</html>

{% endblock main %}