
{% comment %} Уважаемый ревьюер, если ты смотришь на этот ~файл~ глазами, а не через скрипт, то пропусти его. Он очень плохо написан. Мне стыдно, но нет времени все исправлять.... {% endcomment %}

<div class="row">
<div class="col-md-4 h-100 d-inline-block">
      
        <div class="nav flex-column nav-pills h-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            {% for application in applications %}

              {% include 'vacancy_detail_tab.html' with application=application %}                  

            {% endfor %}

          </div>


</div>
<div class="col-md-8 h-100 d-inline-block">

<div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active h-100" id="candidate_application_{{application.core_condidate.id}}" role="tabpanel" aria-labelledby="candidate_application_{{application.core_condidate.id}}-tab">
      <h5 class="text-muted p-6"><span class="fe fe-arrow-left mr-4"></span>Выберите кандидата</h5>
      </div>

      {% for application in applications %}

        {% include 'vacancy_detail_tab-content.html' with application=application %}    

      {% endfor %}

</div>
      
</div>
</div>

