<div class="row">
<div class="col-md-4 h-100 d-inline-block">
      
        <div class="nav flex-column nav-pills h-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">

{% for application in applications %}

      <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#candidate_application_{{application.core_condidate.id}}" role="tab" aria-controls="candidate_application_{{application.core_condidate.id}}" aria-selected="true">
      
<div class="card mb-0">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                        <div class="avatar avatar-md">
                              <span class="avatar-title rounded-circle">{{application.core_condidate.fullname|make_list|first}}</span>
                        </div>

                  </div>
                  <div class="col">

                        {% if application.core_vacancy.testing %}

                              {% if application.testing_solution.status == 0 %}
                                    <p class="mb-0 text-info"><small><span class="fe fe-x mr-2"></span>Решение отклонено</small></p>
                              {% elif application.testing_solution.status == 1 %}
                                    <p class="mb-0 text-info"><small><span class="fe fe-check mr-2"></span>Есть решение</small></p>
                              {% elif application.testing_solution.status == 2 %}
                                    <p class="mb-0 text-success"><small><span class="fe fe-award mr-2"></span>Решение принято</small></p>
                              {% else %}
                                    <p class="mb-0 text-warning"><small><span class="fe fe-loader mr-2"></span>Ожидается решение</small></p>
                              {% endif %}

                        {% endif %}
                    <!-- Title -->
                    <h4 class="mb-1"><b>{{ application.core_condidate.fullname }}</b></h4>

                    <!-- Text -->
                    <p class="card-text small text-muted mb-1">
                     Ключевые навыки: 
                    </p>
                        {% comment %} {{ application.skills_assessment }} {% endcomment %}
                    <!-- Status -->
                    <p class="card-text small">
                       Опыт работы: <span>18</span> лет
                    </p>

                  </div>
                  <div class="col-auto">

                    <!-- Button -->
                    <div class="badge badge-soft-warning ">
                      40%
                    </div>

                  </div>
                  
                  <div class="col-auto">



                  </div>
                </div> <!-- / .row -->
              </div> <!-- / .card-body -->
            </div>
      
      </a>

      

{% endfor %}
</div>


</div>
<div class="col-md-8 h-100 d-inline-block">

<div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active h-100" id="candidate_application_{{application.core_condidate.id}}" role="tabpanel" aria-labelledby="candidate_application_{{application.core_condidate.id}}-tab">
      <h5>Выберите кандидата</h5>
      </div>

{% for application in applications %}

      <div class="tab-pane fade h-100 py-4" id="candidate_application_{{application.core_condidate.id}}" role="tabpanel" aria-labelledby="candidate_application_{{application.core_condidate.id}}-tab">
      
      <div class="row mb-4">

            <div class="col">



            </div>
                   
            <div class="col-auto">
            <a class="btn btn-sm btn-outline-primary" href="{{application.cv_file.path}}"><span class="fe fe-file mr-1"></span>Резюме</a>
            <button type="button" name="" id="" class="btn btn-sm btn-outline-success"><span class="fe fe-arrow-up-circle mr-1"></span>Сменить этап</button>
            </div>

      </div>

<div class="row">
          <div class="col-12 col-xl-8">


                  {% if application.core_vacancy.testing %}

                        {% if application.testing_solution.status == 0 %}

                        <div class="alert alert-light" role="alert">

                              {% include 'vacancy_detail_task_result.html' with testing=application.testing_solution %}

                        </div>

                        {% elif application.testing_solution.status == 1 %}

                        <div class="alert alert-light border-primary" role="alert">

                              {% include 'vacancy_detail_task_result.html' with testing=application.testing_solution %}

                        </div>

                        {% elif application.testing_solution.status == 2 %}

                        <div class="alert alert-light border-success" role="alert">

                              {% include 'vacancy_detail_task_result.html' with testing=application.testing_solution %}

                        </div>
                        
                        {% endif %}

                  {% endif %}

            <!-- Card -->
            <div class="card">
              <div class="card-body">

                  

              </div>
            </div>

          </div>
          <div class="col-12 col-xl-4">
            

            <!-- Card -->
            <div class="card">
              <div class="card-body">

                <!-- List group -->
                <div class="list-group list-group-flush my-n3">
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0">
                          Телефон
                        </h5>
                      </div>
                      <div class="col-auto">
                        <small class="text-muted">
                          {{application.core_condidate.phone}}
                        </small>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0">
                          Email
                        </h5>
                      </div>
                      <div class="col-auto">
                        <small class="text-muted">
                          {{application.core_condidate.email}}
                        </small>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0">
                          Город
                        </h5>
                      </div>
                      <div class="col-auto">
                        <small class="text-muted">
                          Краснодар
                        </small>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0">
                          День рождения
                        </h5>
                      </div>
                      <div class="col-auto">
                        <small class="text-muted">
                          09.05.1994
                        </small>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Title -->
                        <h5 class="mb-0">
                          Дата добавления
                        </h5>

                      </div>
                      <div class="col-auto">

                        <small class="text-muted">
                          {{application.created}}
                        </small>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                </div>

              </div>
            </div>
            <p class="text-center"><small><a href="http://71bc73326100.ngrok.io{% url 'tests:test_page' application.core_vacancy.id application.id %}" target="_blank">Ссылка на тестовое задание</a></small></p>

          </div>
        </div>
      {{application.core_vacancy.testing}}

      {{application.testing_solution}}

      


      <br><br>

      {{application.cv_file.url}}
      
      <br><br>
      
      {{ application.skills_assessment }}
      
      </div>

{% endfor %}

</div>
      
</div>
</div>

