<tr>
  <td>
    <h4 class="mb-1 name">
      <a href="{% url 'crm:vacancy_details' vacancy.id %}">{{ vacancy.title }}</a>
      {% if vacancy.testing %}
      <span class="badge badge-soft-info"><span class="fe fe-zap mr-1"></span> Тестовое задание</span>
      {% endif %}
    </h4>

    <p class="card-text small text-muted">
      Заказчик: {{ vacancy.owner.first_name }} {{ vacancy.owner.last_name }} | Рекрутер: {{ vacancy.recruter.first_name }} {{ vacancy.recruter.last_name }} | {% if vacancy.code_reviewer.first_name %} КодРевью: {{ vacancy.code_reviewer.last_name }} |{% endif %} {{ vacancy.created }}
    </p>

  </td>

  <td>{{vacancy.get_status_display}}</td>

  <td>
    
    <canvas class="chart-canvas" id="minichart{{vacancy.id}}" width="75" height="35" style="display: block; max-width: 75px; max-height: 35px;"></canvas>

    <script>
      $(document).ready(function () {
            new Chart('minichart{{vacancy.id}}', {
                  type: 'bar',
                  options: {
                        tooltips: {
                              enabled: false,
                              custom: function() {}
                        },
                        scales: {
                              xAxes: [{
                                    stacked: false,
                                    display: false
                                    
                              }],
                              yAxes: [{
                                    stacked: false,
                                    display: false
                              }]
                        },
                        legend: {
                              display: false
                        },
                        layout: {
                              padding: {
                                    left: 0,
                                    right: 0,
                                    top: 0,
                                    bottom: 5
                              }
                        }
                  },
                  
                  data: {
                        labels: ['Новая', 'Собеседование', 'СБ', 'Оффер'],
                        datasets: [
                              {
                                    data: {{dataset}}
                              }
                        ]
                  }
            });
      })
</script>

  </td>
</tr>